{% extends 'base.html' %}

{% block head %}
<title>Ministério da Fazenda - Login</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="login-form">
        <form action="/" method="POST">
            <h2>Bem-vindo</h2>
            <div class="form-group">
                <label>Usuário (Impressão Digital)</label>
            </div>
            <div class ="form-group">
                <label>
                    <input type="radio" name="user" value="101_2.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/101_2.png') }}">
                </label>
                <label>
                    <input type="radio" name="user" value="102_2.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/102_2.png') }}">
                </label>
                <label>
                    <input type="radio" name="user" value="103_3.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/103_3.png') }}">
                </label>
                <label>
                    <input type="radio" name="user" value="104_5.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/104_5.png') }}">
                </label>
                <label>
                    <input type="radio" name="user" value="105_2.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/105_2.png') }}">
                </label>
                <label>
                    <input type="radio" name="user" value="106_7.tif">
                    <img class="fingerprint img-rounded" src="{{ url_for('static', filename='images/106_7.png') }}">
                </label>
            </div>
            <div class="form-group clearfix center-block">
                <button type="submit" class="btn btn-primary login-btn btn-block">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}